<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csc.api.mapper.UserMapper">
	<resultMap type="com.csc.api.entity.Employee" id="EmpMap">
		<id column="EMPLOYEE_ID" property="employeeId"></id>
		<result column="EMPLOYEE_NAME" property="employeeName"></result>
		<result column="DEPT_ID" property="deptId"></result>
		<result column="EMPLOYEE_STARTDATE"
			property="employeeStartdate"></result>
		<result column="GENDER_TYPE_NO" property="genderTypeNo"></result>
		<result column="EMPLOYEE_BIRTHDAY" property="employeeBirthday"></result>
		<result column="EMPLOYEE_TEL" property="employeeTel"></result>
		<result column="EMPLOYEE_ADDRESS" property="employeeAddress"></result>
		<result column="EMPLOYEE_EMAIL" property="employeeEmail"></result>
		<result column="DEL_FLG" property="delFlg"></result>
		<result column="CREATE_DATE" property="createDate"></result>
		<result column="CREATE_USER" property="createUser"></result>
		<result column="UPDATE_DATE" property="updateDate"></result>
		<result column="UPDATE_USER" property="updateUser"></result>
	</resultMap>
	
    <resultMap id="BaseResultMap" type="com.csc.api.entity.User">
        <id column="USER_ID" property="userId" ></id>
        <result column="USER_NAME" property="userName"></result>
        <result column="PWD" property="pwd"></result>
    </resultMap>

    <select id="findByUsername" resultMap="BaseResultMap">
        SELECT * FROM USER WHERE USER_NAME = #{userName}
    </select>

	<select id="findAll" resultMap="EmpMap">
		SELECT t1.*, t2.GENDER_TYPE as
		GENDER_TYPE,t3.DEPT_NAME as DEPT_NAME
		FROM T_EMPLOYEE t1
		LEFT JOIN
		M_GENDER t2 ON t1.GENDER_TYPE_NO = t2.GENDER_TYPE_NO
		LEFT JOIN M_DEPT
		t3 ON t1.DEPT_ID = t3.DEPT_ID
		WHERE t1.DEL_FLG='0';
	</select>
	<select id="findByKeyword" resultMap="EmpMap">
		SELECT t1.*, t2.GENDER_TYPE as GENDER_TYPE, t3.DEPT_NAME as DEPT_NAME
		FROM T_EMPLOYEE t1
		LEFT JOIN M_GENDER t2 ON t1.GENDER_TYPE_NO
		=t2.GENDER_TYPE_NO
		LEFT JOIN M_DEPT t3 ON t1.DEPT_ID = t3.DEPT_ID
		<where>
			t1.DEL_FLG='0'
			<if test="employeeId!=null and employeeId!=''">
				AND
				t1.EMPLOYEE_ID=#{employeeId}
			</if>
			<if test="employeeName!=null and employeeName!=''">
				AND t1.EMPLOYEE_NAME LIKE CONCAT('%',
				#{employeeName},'%')
			</if>
			<if test="deptId!=null and deptId!=0">
				AND t1.DEPT_ID=#{deptId}
			</if>
			<if test="employeeStartdate1!=null and employeeStartdate1!=''">
				AND
				t1.EMPLOYEE_STARTDATE<![CDATA[ >= ]]>#{employeeStartdate1}
			</if>
			<if test="employeeStartdate2!=null and employeeStartdate2!=''">
				AND
				t1.EMPLOYEE_STARTDATE<![CDATA[ <= ]]>#{employeeStartdate2}
			</if>
		</where>
	</select>

	<update id="delById" parameterType="java.util.List" >
		UPDATE T_EMPLOYEE SET DEL_FLG=1 WHERE EMPLOYEE_ID IN
		<foreach item="employee" collection="list" open="(" separator="," close=")">
            #{employee}
        </foreach>
	</update>

</mapper>