<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="demo01.css">
	<title>Insert title here</title>
</head>

<body>
	
	<div id="div_main">
		<div id="div_eplist">
			
		氏    名<tr><input type="text"></br>
		入社年月日<input type="date">―<input type="date"></br>
		部    門<select>
			
			<option >--部門を選んでください--</option>
			<option name="bumem" id="b" value="財務部">管理部</option>
		   <option name="bumem" id="c" value="管理部">営業部</option>
	       <option name="bumem" id="d" value="IT部">IT部</option>
		   <option name="bumem" id="e" value="営業部">財務部</option>
		 </select>
		
		
	</table>
			<table id="emjh">
			<thead>
				<tr>
				   
					<th>社員ID</th>
					<th>社員氏名</th>
					<th>部門</th>
					<th>入社年月日</th>
					<th>性別</th>
					<th>生年月日</th>
					<th>住所</th>
					<th>メールアドレス</th>
				</thead>
				</tr>
				 <tbody>
				 <script>
				var data = [
             {id: 10001, name: '山本', dep:'IT部門',come:'2020/02/01',sex:'女',born: '1997/7/1',adress:'東京都',mail:'123@gmail.com'},
             {id: 10002, name: '松下', dep:'IT部門',come:'2020/02/01',sex:'男',born: '1992/7/1',adress:'千葉県',mail:''},
             {id: 10003, name: '田中', dep:'IT部門',come:'2020/02/01',sex:'女',born: '1988/7/1',adress:'埼玉県',mail:'aaa@gmail.com'},
            ];
            for (var i = 0; i < 20; i++) {
            document.write(`
            <tr>
            
            <td>${data[i].id}</td>
            <td>${data[i].name}</td>
            <td>${data[i].dep}</td>
            <td>${data[i].come}</td>
            <td>${data[i].sex}</td>
            <td>${data[i].born}</td>
            <td>${data[i].adress}</td>
            <td>${data[i].mail}</td>
          </tr>
        `);
      }
				</script>
			
				</tbody>
			</table>

		</div>
	</div>
	

	
	
	
</body>

</html>