<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="demo01.css">
	<title>Insert title here</title>


</head>

<body>
	<div id="div_main">
		<div id="div_eplist">

			社員ID<tr><input type="text">
				部 門<select>
					<option>--部門を選んでください--</option>
					<option name="bumem" id="b" value="財務部">管理部</option>
					<option name="bumem" id="c" value="管理部">営業部</option>
					<option name="bumem" id="d" value="IT部">IT部</option>
					<option name="bumem" id="e" value="営業部">財務部</option>
				</select></br>
				入社年月日<input type="date">-TO-<input type="date"></br>
				氏名<input type="text"></br>

				<input th: type="button" name="serch" value="検索">
				</input>
				<input type="button" name="add" value="追加">
				</input>
				<input type="button" name="update" value="修正">
				</input>
				<input type="button" name="delete" value="削除">
				</input>
				<a href="javascript:self.close()">
					<input type="button" value="閉まる"></input>
				</a>
				</table>
				<hr>
			</tr>
			<table id="emjh">
				<thead>
					<tr>
						<th>選択</th>
						<th>社員ID</th>
						<th>社員氏名</th>
						<th>部門</th>
						<th>入社年月日</th>
						<th>性別</th>
						<th>年齢</th>
						<th>住所</th>
						<th>メールアドレス</th>
				</thead>
				</tr>
				<tbody>
					<tr th:each="employee,stat:${employeelist}">
						<td><input type="checkbox"></input></td>
						<td>[[${employee.employeeId}]]</td>
						<td>[[${employee.employeeName}]]</td>
						<td>[[${employee.deptId}]]</td>
						<td>[[${employee.employeeStartdate}]]</td>
						<td th:text="${employee.genderTypeNo}"></td>
						<td>[[${employee.employeeBirthday}]]</td>
						<td>[[${employee.employeeAddress}]]</td>
						<td>[[${employee.employeeEmail}]]</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>