<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Insert title here</title>
	<style type="text/css">
		body {
			margin: 0;
			padding: 0;
			background-color: aliceblue;
		}

		div {
			position: relative;
			float: left;
		}

		#div_main {
			width: 80%;
			height: 100%;
			border: 1px;
			margin-left: 10%;
			float: left;
			background-color: aliceblue;
		}

		#div_eplist {
			width: 80%;
			height: 100%;
			border: 1px;
			margin-left: 10%;
			float: left;
			background-color: aliceblue;
		}

		#emjh {
			width: 100%;
		}

		#emjh,
		#emjh tr,
		#emjh td,
		#emjh th {
			border: 1px solid blue;
			border-collapse: collapse;
			font-family: fantasy;
			font-size: medium;
			line-height: 30px;
		}
	</style>
	<script type="text/javascript">

		function edit() {
			if (event && event.srcElement && event.srcElement.tagName == "TD") {
				var editTD = event.srcElement;
				editTD.innerHTML = "<input type='text'>";
				var input = editTD.firstChild;
				if (input.tarName == "INPUT") {
					input.value = oldName;
				}
			}
		}

		function submitform(formId, url, method = undefined) {
			var form = document.getElementById(formId);
			form.action = url;
			if (method !== undefined) form.method = method;
			form.getElementsByClassName = value;
			form.submit();
		}

		function del() {
			const checkboxes = document.querySelectorAll('.checkbox');
			const selectedIds = [];

			checkboxes.forEach(checkbox => {
				if (checkbox.checked) {
					selectedIds.push(checkbox.value);
				}
			});

			if (selectedIds.length > 0) {
				const form = document.getElementById('deleteForm');
				const input = document.createElement('input');
				input.type = 'hidden';
				input.name = 'selectedIds';
				input.value = selectedIds.join(',');
				form.appendChild(input);
				form.submit();
			} else {
				alert('削除項目を選択してください！');
				
			}
		}

	</script>
</head>

<body>
	<div id="div_main">
		<div id="div_eplist">
			<form id="search" th:object="${selectForm}">
				社員ID<tr><input class="aaa" type="number" th:field="*{employeeId}">

					</br>
					部 門<select th:field="*{deptId}">
						<option value="0">--部門を選んでください--</option>
						<option value="11">管理部</option>
						<option value="12">営業部</option>
						<option value="13">IT部</option>
						<option value="14">財務部</option>
					</select></br>
					入社年月日<input type="date" th:field="*{employeeStartdate1}">-TO-<input type="date"
						th:field="*{employeeStartdate2}"></br>
					氏名<input type="text" th:field="*{employeeName}">

					</br>

					<input type="submit" onclick="submitform('search','/findByKeyword','post')" id="select" value="検索">

					<input type="submit" onclick="submitform('search','/register','get')" name="add" value="追加">

					<input id="btnclose" type="button" onclick="closeall()" value="閉じる">
			</form>
			<hr>
			</tr>
			<form th:action="@{/delById}" method="post" id="myform">
				<table id="emjh">
					<thead>
						<tr>
							<th>選択</th>
							<th>社員ID</th>
							<th>社員氏名</th>
							<th>部門</th>
							<th>入社年月日</th>
							<th>性別</th>
							<th>年齢</th>
							<th>住所</th>
							<th>メールアドレス</th>
							<th>操作処理</th>
					</thead>
					</tr>
					<tbody>
						<tr th:each="employee,stat:${employeelist}">
							<td><input type="checkbox" class="checkbox" th:value="${employee.employeeId}"
									name="selectedIds"></input></td>
							<td th:text="${employee.employeeId}"></td>
							<td id="getname" onclick="edit()" th:text="${employee.employeeName}"></td>
							<td th:text="${employee.deptName}"></td>
							<td th:text="${#dates.format(employee.employeeStartdate, 'yyyy/MM/dd')}"></td>
							<td th:text="${employee.genderType}"></td>
							<td th:text="${#dates.format(employee.employeeBirthday, 'yyyy/MM/dd')}"></td>
							<td th:text="${employee.employeeAddress}"></td>
							<td th:text="${employee.employeeEmail}"></td>
							<td>

								<input type="hidden" name="id" th:value="${employee.employeeId}">
								<button type="submit" onclick="del()">削除</button>

							</td>
						</tr>
					</tbody>
				</table>
			</form>

		</div>
	</div>
</body>

</html>