<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="/css/log.css">
	<script src="/js/emp.js"></script>

</head>

<body>
	<div class="main">
		<form id="form1" th:object="${loginForm}">
			<span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" class="error-message"></span><br>

			<p>ユーザーID: <input type="text" id="userId" th:field="*{userId}" class="textinput"
					placeholder="Idを入力してください" />
			</p>

			<span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error-message"></span><br>
			<p>ユーザー名前:
				<input type="text" id="userName" th:field="*{userName}" class="textinput"
					placeholder="ユーザー名を入力してください" />
			</p>

			<span th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}" class="error-message"></span><br>

			<p>パスワード:
				<input type="password" id="pwd" th:field="*{pwd}" class="textinput" placeholder="パスワードを入力してください" />
			</p>
			<p>
				<input id="remember" type="checkbox" /><label for="remember">パスワードを覚えます</label>
			</p>
			<p>
				<input class="login-btn" type="submit" onclick="submitform('form1','/findByUsername','post')" value="ログイン" />
			</p>

			<p class="txt">アカウントありませんか？><br>
				<input type="submit" onclick="submitform('form1','/registerUser','get')" value="新規作成" />
			</p>
			<p th:text="${error}" style="color: red;"></p>
		</form>
	</div>
</body>
</html>