<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/register.css">
	<script src="/js/reg.js"></script>
	<title>ユーザー登録</title>
</head>

<body>
	<body>
    <div class="login-box">
      <div class="openleft"></div>
      <div class="openright"></div>

	<h2>アカウント作成</h2>
	<form th:action="@{/resultUser}" th:object="${registerUserForm}" method="post">
		<div class="user-box">
			<p>これはあなたのアカウントID</p>
			<p>覚えておいてください</p>
			<br>
		<input type="text" th:field="*{userId}"  readonly>
		
		</div>
		
		<div class="user-box">
		<input type="text" th:field="*{userName}" required>
		<label for="userName">名前:</label>
		</div>
		
		 <div class="user-box">
		<input type="text" th:field="*{pwd}" required>
		<label for="pwd">パスワード:</label>
		</div>
		
		<button type="submit">アカウント作成</button>
	</form>
</div>
</body>

</html>